.creators {
  padding: 2rem 0.7rem 0rem;
}
.creators h2 {
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
  margin-top: 9rem;
}

.creators-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 5.2rem 0rem;
}
.creators-identidade {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--cor-4);
  border-radius: 30px;
  gap: 1rem;
}
.img-identidade {
  padding: 1rem 0rem 0.8rem 1rem;
}
.creators-top {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  place-content: start;
  padding-top: 1.3rem;
  gap: 5.2rem;
}
.creators-top h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.creators-top a {
  padding: 0.55rem 1.43rem;
  background-color: var(--cor-2);
  font-size: 0.875rem;
  border-radius: 17px;
}
.creators-top a:hover {
  transition: 0.3s;
  background-color: var(--cor-7);
}
.creators-bot {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.75rem;
}
.creators-bot img {
  max-width: 20px;
}
.creators-bot p {
  font-weight: 700;
  font-size: 1rem;
  color: var(--cor-2);
}
.creators-btn {
  display: flex;
  max-width: 173px;
  margin: 0 auto;
  place-content: center;
  font-size: 1.2rem;
  padding: 1.18rem 1.68rem;
  color: var(--cor-2);
  border: 1px solid var(--cor-2);
  border-radius: 24px;
}
.creators-btn:hover {
  transition: 0.3s;
  color: var(--cor-0);
  background: var(--cor-7);
}
/* creators comunidade */

.comunidade {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10.6rem 0rem 14.4rem;
}
.comunidade img {
  max-width: 4.3rem;
}
.comunidade-img {
  display: flex;
  align-items: center;
  gap: 25.4rem;
}
.comunidade-titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}
.comunidade-titulo p,
.comunidade-titulo h2 {
  font-size: 1.8rem;
}
.comunidade-titulo h2 {
  color: var(--cor-2);
}
.comunidade-info {
  display: flex;
  align-items: center;
  gap: 2.7rem;
  margin-top: 1.85rem;
}
.comunidade-info-p {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.comunidade-info-p p {
  font-size: 1.2rem;
}
.comunidade-btn {
  margin: 4.18rem 0 0.687rem;
  background-color: var(--cor-2);
  display: flex;
  gap: 0.75rem;
  padding: 1rem 1.8rem;
  border-radius: 1px;
}
.comunidade-btn:hover {
  transition: 0.3s;
  background-color: var(--cor-7);
}

@media (max-width: 1024px) {
  .creators {
    padding: 2rem 1rem 0rem;
  }
  .creators h2 {
    margin-top: 5rem;
  }
  .creators-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .creators-top {
    gap: 1rem;
  }
  .creators-top a {
    padding: 0.5rem 1.2rem;
  }
  .comunidade {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 912px) {
  .creators {
    padding: 2rem 2rem 0rem;
  }
  .creators-container {
    grid-template-columns: 1fr 1fr;
  }
  .creators-top {
    gap: 2rem;
  }
  .creators-top h3 {
    font-size: 1.5rem;
  }
  .creators-top a {
    font-size: 1.1rem;
  }
}
@media (max-width: 540px) {
  .creators {
    padding: 2rem 1rem 0rem;
  }
  .creators h2 {
    font-size: 2.5rem;
  }
  .creators-container {
    margin: 3rem 0rem;
    grid-template-columns: 1fr;
  }
  .creators-top {
    gap: 5rem;
  }
  .comunidade-img {
    display: none;
  }
  .comunidade-info img {
    display: none;
  }
  .comunidade-info-p {
    gap: 0rem;
  }
  .comunidade-info-p p {
    font-size: 1.2rem;
  }
  .comunidade-info-p p:nth-child(1) {
    text-align: center;
    max-width: 30ch;
  }
  .comunidade-btn {
    margin-top: 2rem;
  }
}
@media (max-width: 393px) {
  .creators-top {
    gap: 3.8rem;
  }
}
@media (max-width: 375px) {
  .creators-top {
    gap: 3rem;
  }
  .creators h2 {
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .creators-top {
    gap: 2.9rem;
  }
  .creators-top a {
    padding: 0.5rem 0.8rem;
  }
}
@media (max-width: 280px) {
  .creators h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }
  .creators-identidade {
    gap: 0.5rem;
  }
  .creators-identidade img {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
  }
  .creators-top {
    gap: 1.5rem;
    padding-top: 0.8rem;
  }
  .creators-top h3 {
    font-size: 1.1rem;
  }
  .creators-top a {
    font-size: 0.85rem;
    margin-right: 0.6rem;
    padding: 0.5rem 0.4rem;
  }
  .creators-bot p {
    font-size: 0.8rem;
  }
  .creators-btn {
    font-size: 1rem;
  }
  .comunidade {
    margin: 3.5rem 1rem;
  }
  .comunidade-titulo p {
    font-size: 1.2rem;
  }
  .comunidade-titulo h2 {
    font-size: 1.5rem;
  }
  .comunidade-info-p p {
    font-size: 0.9rem;
  }
}
