.footer {
  background-color: var(--cor-5);
}
.footer-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 2rem;
  padding: 4.56rem 0.7rem;
}
.footer-titulo {
  align-self: center;
}
.footer-titulo a {
  font-size: 2rem;
  font-weight: 900;
}
.footer-marketplace {
  margin-left: 1.19rem;
  padding-left: 3.19rem;
  border-left: 1px solid var(--cor-6);
}
.footer-marketplace h2 {
  font-size: 2rem;
  font-weight: 700;
}
.marketplace {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2.31rem;
}
.marketplace p {
  font-size: 1.2rem;
}
.marketplace p + p {
  margin-top: 3.187rem;
}
.marketplace p:nth-child(2) {
  margin-top: 0;
}
.footer-newsletter h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.31rem;
}
.footer-newsletter p {
  font-size: 1.37rem;
  margin-bottom: 2.4rem;
}
.footer-newsletter form {
  display: flex;
}
.footer-newsletter a,
.footer-newsletter input {
  padding: 1.375rem 2.437rem;
}
.footer-newsletter input {
  flex: 2;
  background-color: var(--cor-3);
  color: var(--cor-0);
}
.footer-newsletter input::placeholder,
.footer-newsletter a {
  font-size: 1.21rem;
  color: var(--cor-1);
}
.footer-newsletter a {
  background-color: var(--cor-2);
  color: var(--cor-0);
}
.footer-rodape {
  border-top: 1px solid var(--cor-6);
}
.rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.81rem 0.7rem 2.31rem;
}
.rodape p {
  font-size: 0.625rem;
  color: var(--cor-1);
}
.rodape-redes {
  display: flex;
  align-items: center;
  gap: 2.225rem;
}
