/* utilidades */

:root {
  --cor-0: #fff;
  --cor-1: rgba(255, 255, 255, 0.6);
  --cor-2: #5ba300;
  --cor-3: #131313;
  --cor-4: #1d1d1d;
  --cor-5: #242424;
  --cor-6: #333333;
  --cor-7: #477d03;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* global */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
a,
p {
  color: var(--cor-0);
  font-style: normal;
  font-weight: 400;
}
input {
  border: none;
}
