.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0.7rem 0rem;
  flex-wrap: wrap;
}

.menu-meio {
  display: flex;
  align-items: center;
  gap: 6.2rem;
}
.meio-as {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}
.menu-titulo {
  font-size: 2rem;
  font-weight: bold;
}
.meio-as a {
  padding: 0.8rem;
}
.meio-as a:hover,
.menu-titulo:hover {
  transition: 0.3s;
  color: var(--cor-1);
}
.meio-as a,
.menu-button a {
  font-size: 1.1rem;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.menu-button a {
  color: var(--cor-2);
  padding: 1.1rem 1.6rem;
  border: 1px solid var(--cor-2);
  border-radius: 24px;
}
.menu-button a:hover {
  transition: 0.3s;
  color: var(--cor-0);
  background-color: var(--cor-7);
}
.menu-button img:nth-child(3) {
  height: auto;
  width: auto;
  padding: 0.6rem 0.6rem 0.7rem 0.7rem;
  background-color: var(--cor-2);
  border-radius: 50%;
}
.menu-button img:nth-child(3):hover {
  transition: 0.3s;
  background-color: var(--cor-7);
}
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .menu {
    padding: 2rem 1rem;
  }
  .menu-meio {
    gap: 2rem;
  }
  .meio-as {
    gap: 1rem;
  }
}
@media (max-width: 912px) {
  .container {
    max-width: 760px;
  }
  .menu {
    padding: 2rem 2rem;
  }
  .menu-button {
    display: none;
  }
}
@media (max-width: 540px) {
  .container {
    max-width: 414px;
  }
  .menu {
    padding: 2rem 1rem;
  }
  .menu-meio {
    width: 100%;
    flex-direction: column;
    gap: 1.2rem;
  }
  .meio-as {
    gap: 2rem;
  }
  .meio-as a {
    padding: 0.8rem 0rem;
    font-size: 1.1rem;
  }
  .menu-titulo {
    font-size: 2.5rem;
  }
}
@media (max-width: 280px) {
  .menu {
    padding-bottom: 1.5rem;
  }
  .menu-titulo {
    font-size: 2rem;
  }
  .meio-as {
    gap: 1.15rem;
  }
  .meio-as a {
    font-size: 0.9rem;
  }
}
