.produtos,
.produtos-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2.5rem 2.4rem;
}

.div-flex {
  display: flex;
  gap: 1rem;
  margin-top: 2.3rem;
}
.produtos .div-flex h2,
.produtos-2 .div-flex h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.produtos p {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.produtos h2,
.produtos-2 h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

.produtos-itens {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  margin: 0rem 2.5rem 5rem;
}

.container-itens {
  width: 370px;
  height: 570px;
  background-color: var(--cor-4);
  border-radius: 6px;
  flex: 1;
}
.container-itens-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 1.3rem 0.815rem 1.2rem;
}
.top-detalhe {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.top-detalhe img {
  width: 39px;
  height: 40px;
}
.container-itens-principal img {
  padding: 0rem 1.2rem 0rem 1.3rem;
}
.container-itens-principal h2 {
  padding: 1.5rem 0rem 0.5rem 1.3rem;
  font-size: 1.4rem;
}
.container-itens-principal p {
  padding-left: 1.3rem;
  font-size: 0.812rem;
  color: var(--cor-1);
}
.container-itens-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0rem 1.2rem 0rem 1.3rem;
}
.bot-detalhe {
  display: flex;
  align-items: center;
  gap: 0.812rem;
}
.bot-detalhe img {
  max-width: 1.5rem;
}
.bot-detalhe div p {
  font-size: 0.7rem;
  color: var(--cor-1);
  margin-bottom: 0.5rem;
}
.bot-detalhe div h2 {
  font-size: 1.125rem;
  font-weight: 700;
}
.container-itens-bot div a {
  font-size: 1.125rem;
  padding: 0.9rem 2.7rem;
  text-align: center;
  background-color: var(--cor-2);
  border-radius: 1px;
}

/* produtos-2 */

.produtos-2 {
  margin-top: 11rem;
}
.produtos-2 .div-flex {
  margin-top: 0rem;
}
.bg {
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 20.6rem;
  background-color: var(--cor-5);
  top: 114rem;
}

@media (max-width: 1024px) {
  .produtos,
  .produtos-2 {
    margin: 0rem 2rem 1rem;
  }
  .produtos-2 {
    margin-top: 5rem;
  }
  .produtos-itens {
    margin: 0rem 1rem;
  }
  .container-itens-bot div a {
    padding: 0.45rem 0.9rem;
  }
  .bot-detalhe img {
    max-width: 1.2rem;
  }
  .container-itens {
    height: 510px;
  }
  .bg {
    top: 110rem;
  }
}

@media (max-width: 912px) {
  .produtos,
  .produtos-2 {
    margin: 0rem 2rem 2rem;
  }
  .produtos-2 {
    margin-top: 8rem;
  }
  .produtos-itens {
    flex-direction: column;
  }
  .container-itens {
    width: 100%;
  }
  .top-detalhe img {
    max-width: 2rem;
    max-height: 2rem;
  }
  .top-detalhe h3 {
    font-size: 2rem;
  }
  .container-itens img {
    width: 100%;
  }
  .container-itens h2 {
    font-size: 3rem;
  }
  .container-itens p {
    font-size: 2rem;
  }
  .bot-detalhe {
    display: block;
  }
  .container-itens-top {
    margin-bottom: 1rem;
  }
  .container-itens-bot {
    margin-top: 2rem;
  }
  .container-itens-bot div a {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
  .bot-detalhe img {
    display: none;
  }
  .bot-detalhe h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .bot-detalhe div p {
    font-size: 2rem;
  }
  .bg {
    top: 355rem;
  }
}

@media (max-width: 540px) {
  .produtos,
  .produtos-2 {
    margin: 0rem 1rem 2rem;
  }
  .produtos-2 {
    margin-top: 5rem;
  }
  .produtos h2,
  .produtos-2 h2,
  .bot-detalhe h3,
  .top-detalhe h3 {
    font-size: 1.7rem;
  }
  .produtos p,
  .container-itens p,
  .bot-detalhe div p {
    font-size: 1.2rem;
  }
  .container-itens h2 {
    font-size: 2rem;
  }
  .container-itens-bot div a {
    font-size: 1.5rem;
    padding: 0.9rem 2rem;
  }
  .bg {
    display: none;
  }
}
@media (max-width: 360px) {
  .container-itens-bot div a {
    font-size: 1.2rem;
  }
}
@media (max-width: 280px) {
  .produtos {
    padding-top: 3rem;
    margin-bottom: 1rem;
  }
  .produtos p {
    font-size: 0.8rem;
  }
  .produtos h2 {
    font-size: 1.1rem;
  }
  .produtos-2 h2 {
    font-size: 1.1rem;
  }
  .produtos .div-flex {
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .produtos-2 .div-flex h2 {
    font-size: 1.1rem;
  }
  .produtos .div-flex h2 {
    font-size: 1.1rem;
  }
  .top-detalhe {
    gap: 0.5rem;
  }
  .container-itens-top {
    margin-bottom: 0rem;
  }
  .container-itens-top h3 {
    font-size: 1.1rem;
  }
  .container-itens h2 {
    font-size: 1.1rem;
  }
  .container-itens p {
    font-size: 0.9rem;
  }
  .container-itens-bot h3 {
    font-size: 1.1rem;
  }
  .container-itens-bot div p {
    font-size: 0.9rem;
  }
  .container-itens-bot div a {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
  }
}
